:root {
    --background-color-negrito:#212429;
    --background-color-rolling: #c10000;
}


#titulo{
    text-align: center;
}

#mapa{
    width: 80%;
    height: 300px;
}

.input-group{
    margin-top: 5px !important;
    border-radius: 10px !important;
}

#motivo{
    height: 35px;
    border-radius:5px ;
    border: #495057 solid 1px;
    background-color: #181b1ed5;
    color: #adb5bd;
    padding: 6px 12px;
}

#desplegable{
    display: none;
}

#elemento{
    background-color: var(--background-color-negrito);
    outline: none;
    width: 100%;
    height: 40px;
    border-radius:5px;
    border: #495057 solid 1px;
    padding: 6px 12px;
    color: #adb5bd ;
}

#elemento::placeholder{
    color: #8a9198;
}

.padre{
    background-color:var(--background-color-negrito);
    width: 500px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 1rem;
}

.padre1{
    padding:10px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--background-color-negrito);
    border-radius: 1rem;
}

.abuelo{
    justify-content: space-evenly;
}


