/* Fuente */
body {
      font-family: 'Montserrat', sans-serif;
}

/* Validaciones */
.validacion.error {
      border: 1px solid #dc3545;
      border-radius: 10px;
      height: 50px;
      margin-bottom: 45px;
}

#login-form .form-outline .form-control:focus {
      border: 1px solid gray;
      box-shadow: none;
      border-color: none;
      outline: none;
}

.validacion small {
      color: #dc3545;
      position: relative;
      top: 2px;
}

.validacion.correcto {
      border: 1px solid #28a745;
      border-radius: 10px;
      height: 50px;
}

/* Fin validaciones */

/* Modal de correcto */
.agregar-modal {
      padding: 15px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%;
      transition: all 0.5s ease-out;
      transform: translateY(200%);
}

.activar-modal {
      transform: translateY(0px);
      transition: 0.5s ease;
}


@media only screen and (max-width: 992px) {
      .validacion.error {
            border: 1px solid #dc3545;
            border-radius: 10px;
            height: 50px;
            margin-bottom: 60px;
      }
}