*/{
    margin: 0;
    padding: 0;
    
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }

  :root {
    --background-color-negrito:#212429;
    --background-color-rolling: #c10000;

  }
  .container-fluid {
    background-color: var(--background-color-negrito);
  }
  /*INICIO NAVBAR*/
  .img-logo {
    width: 200px;
    height: 48.27px;
  }
  .color-suscripcion{
    color: #89c9f2;
  }
  .color-suscripcion:hover{
    color: #34a5ec;
  }
  /*FIN NAVBAR*/

  /*INICIO MAIN*/
  .destacado{
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
  }  
  .description1{
    height: 400px;
    width: 500px;
  }
  .categorias1{
    margin:20vw;
    margin-top: 0;
    height: 600px;
    width: 1200px;
  }
  .categoriastitulo{
    text-decoration: underline ;
    margin: 10vw;
    margin-top: 0vw;
  }
  /*FIN MAIN*/

     /*INICIO FOOTER*/
     .footer{
        margin: 5vw;
        background-color: #212429;
        color:white;
        padding: 10px 0px;
      }
      .img-logo-redes{
        width: 50px;
      }
      .footer_items{
        text-decoration: none;
        color:white;
      }
      .footer_items:hover{
        color:gray
      }
      .footer .row{
        min-height: 100px;
        text-align: center;
      }
      /*FIN FOOTER*/